Host trebon
	User smaier

Host tarbean
	User smaier

Host lethani
	User smaier

Host vintas
	User smaier

Host archive
	User root

Host *
	# reuse existing ssh connections (see man ssh_config)
	# creates a file according to ControlPath for every (now shared) session
	ControlMaster auto
	ControlPath ~/.ssh/ssh_mux_%h_%p_%r
	{{- if eq .chezmoi.os "darwin" }}
	AddKeysToAgent confirm
	UseKeychain yes
	{{ else }}
	AddKeysToAgent yes
	{{ end }}
